<% provide(:title, "New group") %>
<%= render 'layouts/header'%>
<div class="card my-3 text-center">
  <div class="card-body px-5">
    <%= form_with model: @group, local: true do |f| %>
      <div class="md-form my-3">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Name'%>
      </div>
      <div class="custom-file my-3">
        <%= f.file_field :icon, class: 'custom-file-input', direct_upload: true %>
        <%= f.label :icon, class: 'custom-file-label' %>
      </div>
      <%= f.submit 'Create Group', class: 'btn btn-primary mt-3' %>
    <% end %>
  </div>
</div>
