<% provide(:title, @group.name) %>
<%= render 'layouts/header'%>
<div class="card">
  <div class="card-body d-flex align-items-center">
    <%= display_icon(@group) %>
    <h1 class="ml-3">Group: <%= @group.name %></h1>
  </div>
  <div class="card-footer">
    Created by <%= @group.user.name %> on <%= @group.created_at.strftime("%d %b %Y") %>
  </div>
</div>
<div class="card mt-3">
  <div class="card-body">
    <h2>Payments belonging to this group: </h2>
  </div>
</div>
<% @group.payments.each do |payment| %>
  <div class="card w-75 mx-auto my-3">
    <div class="card-body d-flex justify-content-between">
      <span><%= payment.name %></span>
      <strong>$<%= payment.amount%></strong>
    </div>
    <div class="card-footer">
      Created by <%= payment.author.name %> on <%= payment.created_at.strftime("%d %b %Y") %>
    </div>
  </div>
<% end %>
