<% provide(:title, "Payments") %>
<%= render 'layouts/header'%>
<div class="card">
  <div class="card-body d-flex justify-content-between">
    <span>Total Amount</span>
    <strong>$<%= total_payments(@payments) %></strong>
  </div>
</div>
<div class="d-flex justify-content-center mt-3">
  <%= will_paginate @groups, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<div class="space-for-new">
  <%= render @payments %>
</div>
<div class="bg-success py-3 fixed-bottom">
  <%= link_to 'New Payment', new_payment_path, type: "button", class: "btn btn-outline-light w-75 mx-auto d-block py-3"%>
</div>
