<!DOCTYPE html>
<html>
  <head>
    <title>GroupPayments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
      <div class="navbar-nav">
        <%= link_to 'Logout', '#', class: 'nav-link'%>
      </div>
    </nav>
    <% if notice.present? %>
      <div class="notice">
        <p> <%= notice %> </p>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="alert">
        <p> <%= alert %> </p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
