<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || 'Group Payments' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  </head>
  <body>
    <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: "alert-#{type}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
