<!DOCTYPE html>
<html>
  <head>
    <!-- Primary Meta Tags -->
    <title><%= yield(:title).presence || 'Group Payments' %></title>
    <meta name="title" content="Group Payments">
    <meta name="description" content="A web app that allows you to group payments with your friends and family.">
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://group-payments.herokuapp.com/">
    <meta property="og:title" content="Group Payments">
    <meta property="og:description" content="A web app that allows you to group payments with your friends and family.">
    <meta property="og:image" content="https://raw.githubusercontent.com/meronokbay/group-payments/master/app_screenshot.jpg">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://group-payments.herokuapp.com/">
    <meta property="twitter:title" content="Group Payments">
    <meta property="twitter:description" content="A web app that allows you to group payments with your friends and family.">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/meronokbay/group-payments/master/app_screenshot.jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# Google fonts %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <%# Font awesome %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <% flash.each do |type, msg| %>
      <ul class="alert alert-<%= type %> mb-0">
        <% msg.each do |m| %>
          <%= content_tag :li, m %>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>
  </body>
</html>
